.detail {
  display: flex;
  justify-content: center;
  align-content: center;
  box-shadow: $shadow-light;
  padding: 5rem;
  margin: 0 10rem;
  @include respond(tab-port) {
    padding: 1rem;
    margin: 0.5rem 1rem;
  }

  &-header {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.1rem 1rem rgba($color-black, 0.1);
    border-bottom: 3px solid var(--color-primary);
    border-radius: 10%;

    &__item-number {
      padding: 1rem;
      text-align: center;
      border-radius: 40%;
      background-color: var(--color-primary);
      color: #fff;
      margin-right: 1.5rem;
      font-weight: 700;
    }

    &__item-content {
      margin-right: auto;

      &__title {
        font-size: 1.3rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
        letter-spacing: 0.12rem;
      }
      &__subheader {
        font-size: 1rem;
        font-weight: 400;
      }
    }

    &__item-price {
      font-size: 1.5rem;
      letter-spacing: 0.12rem;
      font-weight: 700;
      color: var(--color-primary);
    }
  }
  &-content {
    margin-bottom: 2rem;
  }

  &-action {
    padding: 2rem;
  }
}
